body {
    font-family: 'Helvetica', sans-serif;
}

.content {
    max-width: 500px;
    margin: auto;
}


.default-btn {
  background-color: #404040;
  border: none;
  color: white;
  width: 160px;
  padding: 12px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
}

.default-btn:hover {
  background-color: #5D5C5C;
}

.primary-btn {
  background-color: #91C8D6;
  border: none;
  color: white;
  width: 160px;
  padding: 12px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
}

.primary-btn:hover {
  background-color: #A4D6E2;
}

.link-btn {
  background-color: #91D6C0;
  border: none;
  color: white;
  width: 160px;
  padding: 12px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 1px;
    cursor: pointer;
}

.link-btn:hover {
  background-color: #A1E1CC;
}

.caution-btn {
  background-color: #DF7171;
  border: none;
  color: white;
  width: 160px;
  padding: 12px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 1px;
    cursor: pointer;
}

.caution-btn:hover {
  background-color: #EC8686;
}

.rounded-btn {
  background-color: #404040;
  border: none;
  border-radius: 3px;
  color: white;
  width: 160px;
  padding: 12px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 1px;
    cursor: pointer;
}

.rounded-btn:hover {
  background-color: #5D5C5C;
}

.full-btn {
  background-color: #404040;
  border: none;
  color: white;
  width: 320px;
  padding: 12px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 1px;
    cursor: pointer;
}

.full-btn:hover {
  background-color: #5D5C5C;
}


pre {
    
    margin-bottom: -20px;
}

.html {
    background-color: #E2F2F7;
    width: 500px;
}

.css {
    background-color: #E2F2F7;
    width: 500px;
}

pre code {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    
}

h2 {
    text-decoration: underline;
    text-align: center; 
}

.alert {
  padding: 20px;
  color: white;
  font-family: 'Helvetica', sans-serif;
  font-size: 18px;
}

.info {
    background-color: #91C8D6;
}

.success {
  background-color: #91D6C0;
}

.bad {
  background-color: #DF7171;
}

.close-btn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.close-btn:hover {
  color: #E0E0E0;
}

.cta {
  font-family: Helvetica, sans-serif;
  background-color: #91C8D6;
  color: #fff;
  width: 420px;
  padding: 40px;
  border-radius: 3px;
}

.cta p {
    text-align: left;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

.cta h1 {
  font-size: 42px;
  margin: auto;
    text-align: left;
}
h3 {
    text-align: center;
}

p {
    text-align: center;
    line-height: 1.5;
}

h4 {
    text-align: center;
}

.btn {
   text-align: center;
    margin: auto; 
}
hr {
    border-top: 1px solid #8c8b8b;
}
